#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    text-align: center;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
}
body {
    background-color: #396E94; 
}
header {
    background-color:white;
}
nav a:hover {
    background-color: #E7C24F;
    color: #d9c2a3;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
} 
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}